{% extends 'base.html.twig' %}

{% block title %} Gallery {% endblock%}


{% block body %}

    <h1>{{ image.name }}</h1>
    <img src="{{ image.path }}" class="mb-4 w-100 img img-rounded">
    
{% endblock %}